"""
created at ৯/১০/২১
"""
from decouple import config
__author__ = 'Nazmul Hasan Sani'

DATABASES = {
    'default': {
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'NAME': 'measurement_db',
        'USER': config('DB_USER'),
        'PASSWORD': config('PASSWORD'),
        'HOST': config('HOST'),
        'PORT': '5432',
    },
    'user_db': {
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'NAME': config('USER_DB'),
        'USER': config('DB_USER'),
        'PASSWORD': config('PASSWORD'),
        'HOST': config('HOST'),
        'PORT': '5432',
    },
}
